__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Build artifacts
build/
dist/
dist_pyinstaller/
dist_nuitka/
*.build/
*.dist/
sessionprep.build/
sessionprep.dist/
*.spec
*.egg-info/

# SessionPrep outputs
processed/
_originals/
sessionprep.txt
sessionprep.json
sessionprep.config.json

# uv
.python-version

nuitka-crash-report.xml

sessionpreplib/daw_processors/ptsl/index.md
sessionpreplib/daw_processors/ptsl/PTSL_2025.10.md
sessionpreplib/daw_processors/ptsl/PTSL_2025.10.proto
sessionpreplib/daw_processors/ptsl/DAWProject-Reference.html
sessionpreplib/_build_version.py

_private/
_private/*

downloaded-artifacts
downloaded-artifacts/*

GEMINI.md

# Temporary build directories
_dawproject_build/
_dawproject_build/*

.env
.env/*
*.env

